<main>
  <section>
    <form [formGroup]="personForm" (ngSubmit)="addPerson()" style="display: block;">
      <mat-form-field>
        <mat-label for="fName">First Name</mat-label>
        <input matInput type="text" name="fName" formControlName="fName">
      </mat-form-field>
      <mat-form-field>
        <mat-label for="sName">Surname</mat-label>
        <input type="text" name="sName" formControlName="sName" matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Add Person</button>
    </form>
    <div *ngFor="let person of people$ | async">
      <ul>
        <li>{{person.fName}} {{person.sName}}</li>
      </ul>
    </div>
  </section>
  <section>
    <button (click)="pickRandom()" mat-raised-button color="primary">Select Random</button>
    <div>
      <p>Random Person: {{selectedName.fName}} {{selectedName.sName}}
      </p>
    </div>
  </section>
</main>